{% extends '@App/base.html.twig' %}

{% block title %}
List Countries
{% endblock %}

{% block body %}
{% set tabActive = "countries" %}
{% include '@App/admin/menuAdmin.html.twig' %}

<div id="dialogAdd" class="dialog-base">
{% include('@App/admin/country/dialogAddCountry.html.twig') %}
</div>
<div id="dialogDelete" class="dialog-base">
{% include('@App/dialogDelete.html.twig') %}
</div>
<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-primary" data-href='{{ path('country_add') }}' id="addCountry" title="Add Country"><i class="material-icons">add_circle</i></a>
  </li>

</ul>
<table class="table listTable">
  <tbody>
    {% for country in countries %}
     <tr>
       <td class="col-10"><span class="text-secondary">{{ country.name }}</span> - <b>{{ country.name|country }}</b></td>
       <td class="col-2 text-right">
         <a class="nav-link text-danger"
         onclick='deleteAction({{ country.id }},
         "{{ country.name|country }}",
         "{{ path('country_delete')}}" )'
          id="deleteCountry{{ country.id }}"
          title="Delete: {{ country.name|country }}"><i class="material-icons">cancel</i></a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'country_list' %}
{% include '@App/pagination.html.twig' %}


<script>

$("#addCountry").click(function (e) {

   addActionShow();

   var href = this.href;
   e.preventDefault();
   $.ajax({
              type: "GET",
              url: href,
              dataType: 'html',
              success: function (json) {
                  $(".loaderBody").fadeOut("slow", function () {
                      $('#editcontent').html(json);
                      $('#editcontent').fadeIn("fast");
                  });
              }
          });
});

  $("form[name='appbundle_country']").submit(function (e) {
    var href = '{{ path('country_add')}}';
    var formData = {
            'name' : $('select[name="appbundle_country[name]"]').val()
        };

    e.preventDefault();
    $.ajax({
               type: "POST",
               url: href,
               dataType: 'json',
               data: formData,
               encode: true,
               success: function (json) {
                 checkErrors(json);
               }
           })
           e.preventDefault();
  });
</script>

{% endblock %}
