{% extends '@App/base.html.twig' %}

{% block title %}
List All User
{% endblock %}

{% block body %}
{% set tabActive = "users" %}
{% set tabActiveFilter =  filter  %}
{% include '@App/admin/menuAdmin.html.twig' %}

<div id="dialogEdit" class="dialog-base">
{% include('@App/dialogEmpty.html.twig') %}
</div>

<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ALL'} )}}" id="ALL" class="nav-link " title="Filter width: All">All</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_USER'})}}" id="ROLE_USER"  class="nav-link " title="Filter width: Role User">Users</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_COLLABORATOR'})}}" id="ROLE_COLLABORATOR"  class="nav-link " title="Filter width: Role Collaborators">Collaborators</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_MANAGER'})}}" id="ROLE_MANAGER"  class="nav-link " title="Filter width: Role Managers">Managers</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_ADMIN'})}}" id="ROLE_ADMIN"  class="nav-link " title="Filter width: Role Admins">Admins</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_SUPER_ADMIN'})}}" id="ROLE_SUPER_ADMIN"  class="nav-link " title="Filter width: Role Super Admin">Super Admin</a>
  </li>
</ul>
<script>
  $('#{{ tabActiveFilter }}').attr('class', 'nav-link active');
</script>

<table class="table listTable">
  <tbody>
    {% for user in allUsers %}


     <tr>
       <td>
         {% if user.avatar == null %}
           <img src="{{ asset('images/defaultAvatar.png') }}" title="{{ user.roles.0 }}" class="avatar-user-list" style="border:5px solid {{ items_roles[user.roles.0].color }}" />
         {% else %}
         <img src="{{ asset('avatars/') }}{{ user.avatar }}" title="{{ user.roles.0 }}" class="avatar-user-list"  style="border:5px solid {{ items_roles[user.roles.0].color }}" />
         {% endif %}

       </td>
       <td>
         <div id="{{ user.id }}" class="symbol_roles level_0" data-level="0" onClick="infoAction(0, {{ items_roles[user.roles.0].level }}, {{ user.id }});"></div>
         <div id="{{ user.id }}" class="symbol_roles level_1" data-level="1" onClick="infoAction(1, {{ items_roles[user.roles.0].level }}, {{ user.id }});"></div>
         <div id="{{ user.id }}" class="symbol_roles level_2" data-level="2" onClick="infoAction(2, {{ items_roles[user.roles.0].level }}, {{ user.id }});"></div>
         <div id="{{ user.id }}" class="symbol_roles level_3" data-level="3" onClick="infoAction(3, {{ items_roles[user.roles.0].level }}, {{ user.id }});"></div>
         <div id="{{ user.id }}" class="symbol_roles level_4" data-level="4" onClick="infoAction(4, {{ items_roles[user.roles.0].level }}, {{ user.id }});"></div>
         <script>


           $('#{{ user.id }}.level_{{ items_roles[user.roles.0].level }}').attr('style', 'background-color: {{ items_roles[user.roles.0].color }}');




           function infoAction(destinity_level, current_level_user, user) {
             if (destinity_level == 1) {
               $.ajax({
                 type: 'GET',
                 url: '{{ path('user_manager_list_managers') }}',
                 dataType: 'html'
               }).done(function(data) {
                        dialogPreparationCollabortaor(data, current_level_user, user);
                        });
             } else {
                  changeRole (destinity_level, current_level_user, user, null)
                  };
                }



          function changeRole (destinity_level, current_level_user, user, user_manager) {
            $.ajax({
              type: 'GET',
              url: '{{ path('user_manager_change_role') }}',
              data: {'destineRole': destinity_level , 'currentRole': current_level_user, 'userObjective': user, 'user_manager': user_manager},
              dataType: 'html'
            }).done(function(data) {
                     checkErrors(data);
                     });
          }


         </script>
       </td>
       <td>
         {% if user.manager != null %}
         {% if user.manager.avatar == null %}
           <img src="{{ asset('images/defaultAvatar.png') }}" title="{{ user.manager.username }}" class="avatar-user-manager-list" style="border:2px solid {{ items_roles[user.manager.roles.0].color }}" />
         {% else %}
         <img src="{{ asset('avatars/') }}{{ user.manager.avatar }}" title="{{ user.manager.username }}" class="avatar-user-manager-list"  style="border:2px solid {{ items_roles[user.manager.roles.0].color }}" />
         {% endif %}

         {% endif %}
       </td>
       <td>
         {% if user.collaborators != null %}
         <div class="count-collabortaors" title="{{ user.collaborators|length }} Collaborators at your expense.">
           {{ user.collaborators|length }}
         </div>

         {% endif %}
       </td>
       <td>
       <div class="count-milestones"  title=" {{ user.milestones|length }} Milestones">
          {{ user.milestones|length }}
       </div>
      </td>
       <td>
       {{ user.username }} {{ items_roles[user.roles.0].color }} {{ items_roles[user.roles.0].level }}
      </td>
      <td >
      {{ user.firstName }} {{ user.lastName }}
     </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'user_manager_index' %}
{% include '@App/pagination.html.twig' %}


{% endblock %}
