{% extends '@App/base.html.twig' %}

{% block title %}
List All User
{% endblock %}

{% block body %}
{% set tabActive = "users" %}
{% set tabActiveFilter =  filter  %}
{% include '@App/admin/menuAdmin.html.twig' %}



<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ALL'} )}}" id="ALL" class="nav-link " title="Filter width: All">All</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_USER'})}}" id="ROLE_USER"  class="nav-link " title="Filter width: Role User">Users</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_COLLABORATOR'})}}" id="ROLE_COLLABORATOR"  class="nav-link " title="Filter width: Role Collaborators">Collaborators</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_MANAGER'})}}" id="ROLE_MANAGER"  class="nav-link " title="Filter width: Role Managers">Managers</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_ADMIN'})}}" id="ROLE_ADMIN"  class="nav-link " title="Filter width: Role Admins">Admins</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('user_manager_index', {'filter': 'ROLE_SUPER_ADMIN'})}}" id="ROLE_SUPER_ADMIN"  class="nav-link " title="Filter width: Role Super Admin">Super Admin</a>
  </li>
</ul>
<script>
  $('#{{ tabActiveFilter }}').attr('class', 'nav-link active');
</script>


<table class="table listTable">
  <tbody>
    {% for user in allUsers %}
    {% set datasRole = UserRole(user.roles.0) %}
     <tr>
       <td>
         {% if user.avatar == null %}
           <img src="{{ asset('images/defaultAvatar.png') }}" title="{{ datasRole.name }}" class="avatar-user-list" style="border:5px solid {{ datasRole.color }}" />
         {% else %}
         <img src="{{ asset('avatars/') }}{{ user.avatar }}" title="{{ datasRole.name }}" class="avatar-user-list"  style="border:5px solid {{ datasRole.color }}" />
         {% endif %}

       </td>
       <td>
         <div class="symbol_roles level_1 user_{{ user.id }}" data-level="1" onmouseenter="infoAction(1, {{ datasRole.level }});"></div>
         <div class="symbol_roles level_2 user_{{ user.id }}" data-level="2" onmouseenter="infoAction(2, {{ datasRole.level }});"></div>
         <div class="symbol_roles level_3 user_{{ user.id }}" data-level="3" onmouseenter="infoAction(3, {{ datasRole.level }});"></div>
         <div class="symbol_roles level_4 user_{{ user.id }}" data-level="4" onmouseenter="infoAction(4, {{ datasRole.level }});"></div>
         <div class="symbol_roles level_5 user_{{ user.id }}" data-level="5" onmouseenter="infoAction(5, {{ datasRole.level }});"></div>
         <script>
           $('.level_{{ datasRole.level }}.user_{{ user.id }}').attr('style', 'background-color: {{ datasRole.color }}');

           function infoAction(level, level_user) {

             if(level > level_user ) {
                  $('.user_'+level).attr('title', 'Promote');
             } else {
                 $('.user_'+level).attr('title', 'Demote');
             }
           }
         </script>
       </td>
       <td>

       <div class="count-milestones">
          {{ user.milestones|length }}
       </div>
      </td>
       <td>
       {{ user.username }}
      </td>
      <td >
      {{ user.firstName }} {{ user.lastName }}
     </td>
     </tr>
    {% endfor %}
  </tbody>
</table>



{% set routeName = 'user_manager_index' %}
{% include '@App/pagination.html.twig' %}


{% endblock %}
