{% extends 'base.html.twig' %}

{% block title %}
List Countries
{% endblock %}

{% block body %}
{% set tabActive = "eras" %}
{% include '/admin/menuAdmin.html.twig' %}

<div id="dialogAddEra" class="dialog-base">
{% include('/admin/era/dialogAddEra.html.twig') %}
</div>
<div id="dialogDeleteEra" class="dialog-base">
{% include('/admin/era/dialogDeleteEra.html.twig') %}
</div>
<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-primary" data-href='{{ path('era_add') }}' id="addDialogEra" title="Add Era"><i class="material-icons">add_circle</i></a>
  </li>

</ul>
<table class="table listTable">
  <tbody>
    {% for era in eras %}
     <tr>
       <td>{{ era.name }} </td>
       <td>
         <span class="text-secondary">{{ era.start }}</span>
       </td>
       <td>
         <span class="text-secondary">{{ era.end }}</span>
       </td>
       <td class="text-right">
         <a class="nav-link text-danger" onclick='deleteAction({{ era.id }}, "{{ era.name }}", "DeleteEra" )' data-href='{{ path('era_add') }}' data-id="{{ era.id }}" data-country="{{ era.name }}" id="deleteEra{{ era.id }}" title="Delete: {{ era.name }}"><i class="material-icons">delete_forever</i></a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'era_list' %}
{% include 'pagination.html.twig' %}


<script>
$('#appbundle_era_name').focus(function () {
  if($('#alertDialog').css('display') == 'block') {
    $('#alertDialog').css({'display' : 'none'});
  }
});

$('#deleteAction').click(function (e) {

  var datas = {'id' : $('#deleteAction').data('id')};
  var routenamedelete = $("#deleteAction").data("routenamedelete");

  $.ajax({
             type: "GET",
             url: routenamedelete ,
             dataType: 'json',
             data: datas,
             encode: true,
             success: function (json) {
               var objResult = jQuery.parseJSON(json);
               if(objResult.result == 'error') {
                 $('#alertDialog').css({'display' : 'block'});
                 $('#alertDialog').html(objResult.message);
               } else {
                  location.reload();
               }
             }
         })

});

$("#addDialogEra").click(function (e) {
   $("#dialogAddEra").modal("show");
   $("div.modal-header h4").attr('class', 'modal-title text-primary');
   $('.loaderBody').fadeIn(0);
   $('#editcontent').fadeOut(0);
   var href = $('#addDialogEra').data('href');
   console.log("Nos vamos a..."+ href);

   $('#addNewEra').click(function(event) {
         var formData = {
           'name' : $('input[name="appbundle_era[name]"]').val(),
           'start' : $('input[name="appbundle_era[start]"]').val(),
           'end' : $('input[name="appbundle_era[end]"]').val()
         };
 console.log('Donne: '+formData.name);
         $.ajax({
           type : 'POST',
           url : href,
           data: formData,
           dataType: 'json',
           encode: true
         })
         .done(function(data) {
           var objResult = jQuery.parseJSON(data);
           if(objResult.result == 'error') {
             $('#alertDialog').css({'display' : 'block'});

             $('#alertDialog').html(objResult.message);
           } else {
              location.reload();
           }

         });
         event.preventDefault();
   });


});


</script>

{% endblock %}
