{% extends 'base.html.twig' %}

{% block title %}
List Countries
{% endblock %}

{% block body %}
{% set tabActive = "eras" %}
{% include '/admin/menuAdmin.html.twig' %}

<div id="dialogAdd" class="dialog-base">
{% include('/admin/era/dialogAddEra.html.twig') %}
</div>

<div id="dialogEdit" class="dialog-base">
  {% include('dialogEmpty.html.twig') %}
</div>

<div id="dialogDelete" class="dialog-base">
{% include('dialogDelete.html.twig') %}
</div>

<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-primary"
        data-href='{{ path('era_add') }}'
        id="addEra" title="Add Era"><i class="material-icons">add_circle</i></a>
  </li>

</ul>
<table class="table listTable">
  <tbody>
    {% for era in eras %}
     <tr>
       <td class="col-2">{{ era.name }} </td>
       <td class="text-left">
         <span class="text-secondary">{{ era.start }}</span>
       </td>
       <td>
         <span class="text-secondary">{{ era.end }}</span>
       </td>
       <td class="text-right col-2">
         <a class="nav-link text-danger"
            onclick='deleteAction({{ era.id }}, "{{ era.name }}", "{{ path('era_delete')}}"  )'
            id="deleteEra{{ era.id }}" title="Delete: {{ era.name }}"><i class="material-icons">cancel</i></a>
       </td>
       <td class="text-right col-2">
          <a data-href='{{ path('era_edit') }}'
          onclick='editAction({{ era.id}}, "{{ path('era_edit') }}")'
          class="nav-link text-success"
          title="Edit {{ era.name }}"
          id="editDialogEra"><i class="material-icons">mode_edit</i></a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'era_list' %}
{% include 'pagination.html.twig' %}


<script>
function editAction(id, path) {
  $.ajax({
    type: 'GET',
    url: path,
    data: {'id': id},
    dataType: 'html'
  }).done(function(data) {

     dialogPreparation('dialogEdit', 'success', data);

     var href = '{{ path('era_edit_action')}}';
     $('#editEra').click(function(event) {

           var formData = {
             'id' : id,
             'name' : $("#dialogEdit input[name='appbundle_era[name]']").val(),
             'start' : $('#dialogEdit input[name="appbundle_era[start]"]').val(),
             'end' : $('#dialogEdit input[name="appbundle_era[end]"]').val()
           };

           $.ajax({
             type : 'POST',
             url : href,
             data: formData,
             dataType: 'json',
             encode: true
           })
           .done(function(data) {
             checkErrors(data);
           });
           event.preventDefault();
           });
     });
};


$("#addEra").click(function (e) {

   addActionShow();

   var href = $('#addEra').data('href');

   $('#addNewEra').click(function(event) {
         var formData = {
           'name' : $('input[name="appbundle_era[name]"]').val(),
           'start' : $('input[name="appbundle_era[start]"]').val(),
           'end' : $('input[name="appbundle_era[end]"]').val()
         };

         $.ajax({
           type : 'POST',
           url : href,
           data: formData,
           dataType: 'json',
           encode: true
         })
         .done(function(data) {
           checkErrors(data);
         });
         event.preventDefault();
   });
});

</script>

{% endblock %}
