<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - Marksteine</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-datepicker3.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/font-awesome/font-awesome.min.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
          <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-colorpicker.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% include '@App/base/header.html.twig' %}
    </head>
    <body>
    <div class="container-fluid">

         {% include '@App/base/flashAlert.html.twig' %}

         {% block top %}
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
               {% include '@App/base/menu.html.twig' %}
             </nav>
          {% endblock %}

      <div class="main-content">
        {% block body %}{% endblock %}
      </div>


        {% block javascripts %}


        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        {% endblock %}


    </div>
    </body>
</html>
