{% extends 'base.html.twig' %}

{% block title %}
List Polities
{% endblock %}

{% block body %}
{% set tabActive = "polities" %}
{% include '/admin/menuAdmin.html.twig' %}

<div id="dialogAdd" class="dialog-base">
{% include('/admin/polity/dialogAddPolity.html.twig') %}
</div>
<div id="dialogDelete" class="dialog-base">
{% include('/admin/polity/dialogDeletePolity.html.twig') %}
</div>
<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-primary" data-href='{{ path('polity_add') }}' id="addPolity" title="Add Polity"><i class="material-icons">add_circle</i></a>
  </li>

</ul>
<table class="table listTable">
  <tbody>
    {% for polity in polities %}
     <tr>
       <td><span class="text-secondary">{{ polity.name }}</span> </b></td>
       <td class="text-right">
         <a class="nav-link text-danger" onclick='deleteAction({{ polity.id }}, "{{ polity.name }}", "DeletePolity" )' data-href='{{ path('polity_add') }}' data-id="{{ polity.id }}" data-polity="{{ polity.name }}" id="deleteCountry{{ polity.id }}" title="Delete: {{ polity.name }}"><i class="material-icons">cancel</i></a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'country_list' %}
{% include 'pagination.html.twig' %}


<script>



$("#addPolity").click(function (e) {
   addActionShow();
   //var href = this.href;
   var href = $('#addDialog').data('href');
   e.preventDefault();
   $.ajax({
              type: "GET",
              url: href,
              dataType: 'html',
              success: function (json) {
                  $(".loaderBody").fadeOut("slow", function () {
                      $('#editcontent').html(json);
                      $('#editcontent').fadeIn("fast");
                  });
              }
          });
});

  $("form[name='appbundle_polity']").submit(function (e) {
    var href = '{{ path('polity_add')}}';
    var formData = {
            'name' : $('select[name="appbundle_polity[name]"]').val()
        };

    e.preventDefault();
    $.ajax({
               type: "POST",
               url: href,
               dataType: 'json',
               data: formData,
               encode: true,
               success: function (json) {
                 checkErrors(json);
               }
           })
           e.preventDefault();
  });
</script>

{% endblock %}
