{% extends 'base.html.twig' %}

{% block title %}
List Countries
{% endblock %}

{% block body %}
{% set tabActive = "countries" %}
{% include '/admin/menuAdmin.html.twig' %}

<div id="dialogAddCountry" class="dialog-base">
{% include('/admin/country/dialogAddCountry.html.twig') %}
</div>
<div id="dialogDeleteCountry" class="dialog-base">
{% include('/admin/country/dialogDeleteCountry.html.twig') %}
</div>
<div class="alert alert-danger" id="alertDialog" role="alert"></div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-primary" data-href='{{ path('country_add') }}' id="addCountry" title="Add Country"><i class="material-icons">add_circle</i></a>
  </li>

</ul>
<table class="table listTable">
  <tbody>
    {% for country in countries %}
     <tr>
       <td><span class="text-secondary">{{ country.name }}</span> - <b>{{ country.name|country }}</b></td>
       <td class="text-right">
         <a class="nav-link text-danger" onclick='deleteCountryAction({{ country.id }}, "{{ country.name|country }}", "DeleteCountry" )' data-href='{{ path('country_add') }}' data-id="{{ country.id }}" data-country="{{ country.name|country }}" id="deleteCountry{{ country.id }}" title="Delete: {{ country.name|country }}"><i class="material-icons">delete_forever</i></a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/app/dialogs.js') }}"></script>
{{ parent() }}
{% endblock %}

{% set routeName = 'country_list' %}
{% include 'pagination.html.twig' %}


<script>
$('#appbundle_country_name').focus(function () {
  if($('#alertDialog').css('display') == 'block') {
    $('#alertDialog').css({'display' : 'none'});
  }
});

$('#deleteAction').click(function (e) {

  var datas = {'id' : $('#deleteAction').data('id')};
  var routenamedelete = $("#deleteAction").data("routenamedelete");

  $.ajax({
             type: "GET",
             url: routenamedelete ,
             dataType: 'json',
             data: datas,
             encode: true,
             success: function (json) {
               var objResult = jQuery.parseJSON(json);
               if(objResult.result == 'error') {
                 $('#alertDialog').css({'display' : 'block'});
                 $('#alertDialog').html(objResult.message);
               } else {
                  location.reload();
               }
             }
         })

});

$("#addCountry").click(function (e) {
   $("#dialogAddCountry").modal("show");
   $("div.modal-header h4").attr('class', 'modal-title text-primary');
   $('.loaderBody').fadeIn(0);
   $('#editcontent').fadeOut(0);
   var href = this.href;
   e.preventDefault();
   $.ajax({
              type: "GET",
              url: href,
              dataType: 'html',
              success: function (json) {
                  $(".loaderBody").fadeOut("slow", function () {
                      $('#editcontent').html(json);
                      $('#editcontent').fadeIn("fast");
                  });
              }
          });
});

  $("form[name='appbundle_country']").submit(function (e) {
    var href = '{{ path('country_add')}}';
    var formData = {
            'name' : $('select[name="appbundle_country[name]"]').val()
        };

    e.preventDefault();
    $.ajax({
               type: "POST",
               url: href,
               dataType: 'json',
               data: formData,
               encode: true,
               success: function (json) {
                 var objResult = jQuery.parseJSON(json);
                 if(objResult.result == 'error') {
                   $('#alertDialog').css({'display' : 'block'});

                   $('#alertDialog').html(objResult.message);
                 } else {
                    location.reload();
                 }
               }
           })
           e.preventDefault();
  });
</script>

{% endblock %}
